body {
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 100vh;
  background-color: #111729;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a img {
  color: white;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.links a img:hover {
  transform: scale(1.1);
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #4b89ff;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

h1 {
  color: #ffff;
  font-size: 48px;
  margin: 20px 0;
  line-height: 1.2;
}

.highlight {
  background: linear-gradient(to right, #f43f5e, #f97316, #facc15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

p {
  color: #ffff;
  margin: 20px 0;
  font-size: 18px;
}

.container {
  text-align: center;
  background-color: #111729;
  padding: 50px;
}

.icon-img {
  width: 80px;
}

.titule-app {
  color: aliceblue;
  font-size: 36px;
  margin-bottom: 30px;
}

.titule-app h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#url-input {
  padding: 15px;
  width: 300px;
  border-radius: 15px 0 0 15px;
  border: 2px solid #4b89ff;
  outline: none;
  background-color: #030617;
  color: #ffff;
  font-size: 16px;
}

#generate-btn {
  padding: 15px 30px;
  border-radius: 15px 15px 15px 15px;
  border: none;
  background-color: #4b89ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
